<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h2>Sections</h2>
<ul>
    <li><a href="{% url 'faculty_view' %}">Faculties</a></li>
    <li><a href="{% url 'kafedra_view' %}">Kafedras</a></li>
    <li><a href="{% url 'group_view' %}">Groups</a></li>
    <li><a href="{% url 'subject_view' %}">Subjects</a></li>
    <li><a href="{% url 'teacher_view' %}">Teachers</a></li>
    <li><a href="{% url 'student_view' %}">Students</a></li>
</ul>
</body>
</html>
